<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe?.imagePath"
      [alt]="recipe?.name"
      class="img-responsive mh250"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe?.name }}</h1>
  </div>
</div>
<div class="row mb10">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="toShopList()">To Shopping List</a>
        </li>
        <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe?.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Ingredients</h4>
    <ul class="list-group">
      <li *ngFor="let ing of recipe.ingredients" class="list-group-item">
        {{ ing.name }} - {{ ing.amount }}
      </li>
    </ul>
  </div>
</div>
